
body {font-size:1em; font-family:Arial, Helvetica, sans-serif; text-align:center; margin: 0; padding:0; background:#fff; color:#333;}	
	

#page {text-align:left; padding:0; width:100%;}
#main {width:900px; margin:0 auto;} 
#headerInner {margin:0; height:80px; width:900px; margin:0 auto;}
#header {margin:0; padding:0; width:100%; color:#fff;
	/* IE 9- */
	background:#666;
	/* Safari 4-5, Chrome 1-9 */
	  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#666));
	  /* Safari 5.1, Chrome 10+ */
	  background: -webkit-linear-gradient(top, #333, #666);
	  /* Firefox 3.6+ */
	  background: -moz-linear-gradient(top, #333, #666);
	  /* IE 10+ */
	  background: -ms-linear-gradient(top, #333, #666);
	}


/* generic styles */
.center {text-align:center;}
.left {float:left;}
.right {float:right;}
.hidden {display:none;}
.invisible {visibility:hidden}
.clear {clear:both;}
.clear10 {clear:both; height:10px}
img {border:none;}
a {color:#21759B; text-decoration:none;}
p {padding:7px 0 7px 0; margin:0; font-size:.9em; line-height:1.2em;}
h1, h2, h3 {font-weight:normal; font-family:Georgia,Times, serif}
h1, h1 a, h1 a:hover, h1 a:visited {text-decoration:none;}	
h1 {padding:10px 0; line-height:60px; margin:0; font-size:3em;}
h2 {margin:10px 0; font-size:2em; clear:both;}

.highlight {background:#FF9}
.strikethrough {background:#FFC1C1; text-decoration:line-through}


/* content */
#content {float:left; padding:20px 0px; margin:0px auto; width:100%;}	
#slider {margin:10px;}
#sliderInfo {margin:20px 0; padding:20px 0; border-top:1px solid #ccc;}
#sliderInfo h3 span {font-size:.6em; float:right}
#sliderMarkers {position:absolute; z-index:2; width:90%}
#sliderMarkers div {float:left; cursor:pointer; background:url(images/redmarker.png) no-repeat; position:absolute}
#marker20 {margin-left:20%;}
#marker65 {margin-left:60%;}


#differenceTable {border:1px solid #ccc; height:500px; margin-top:50px; clear:both}

#pageNav {font-size:.9em; margin:0 0 20px 0;}
#companyDetails {margin:20px 0 10px 0; clear:both}
.companyLogo {display:inline-block}
.companyLogo img {vertical-align:bottom;}
.companyName {font-size:2em; display:inline-block;}
.companyTimeframe {padding-left:20px; display:inline-block}
.differenceValue {border:1px solid #ccc; -webkit-border-radius:10px; -moz-border-radius:10px; background:#eee; padding:10px; font-size:.8em; width:100px; float:right; text-align:center}
.differenceValue span {font-size:2em}



.contentLeft, .contentRight {height:500px; width:50%; float:left; display:inline-block; overflow-y:scroll;}

.tableHeader {text-align:center; color:#21759B; font-weight:bold}
.tableIcons {background:#ddd; height:45px; font-size:.8em;}
.tableIcons div {float:left; display:inline-block;}
.tableIcons .text {float:left; display:inline-block; margin-right:25px; width:55%}

.useGreen {width:45px; height:45px; background:url(images/use_green.png) no-repeat}
.useRed {width:45px; height:45px; background:url(images/use_red.png) no-repeat}
.sharingGreen {width:45px; height:45px; background:url(images/sharing_green.png) no-repeat}
.sharingRed {width:45px; height:45px; background:url(images/sharing_red.png) no-repeat}
.trackingGreen {width:45px; height:45px; background:url(images/tracking_green.png) no-repeat}
.trackingRed {width:45px; height:45px; background:url(images/tracking_red.png) no-repeat}


.policyContent {height:400px;}
.tableHeader, .tableIcons, .policyContent {float:left; clear:both; padding:20px;}

#middleBar {background:#aaa; width:1%; margin-left:440px; height:500px; position: absolute; }


/*landing page styles*/

.pageModule {border:1px solid #ccc; -webkit-border-radius:10px; -moz-border-radius:10px;width:800px;  padding:20px; margin: 20px 0; font-size:.8em;}

.pageHeader {color:#21759B; font-weight:bold; padding:10px 0 0 0; margin-bottom:-10px}

#pageIntro {margin-bottom:30px;}

.addText {width:400px}


#TheList {
	width: 600px;
	height: 200px;
	background-color:#fff;
	overflow-y: scroll;
	overflow-x: hidden;
	border:1px solid #ccc;
	margin-bottom:10px;
	color:#21759B;
}

#TheList div:hover {
	background-color:#ccc;
	color:#21759B;
	
}
#TheList div img {
	padding:3px;
	vertical-align:middle;
}


/*footer*/
#footer {padding:0; margin:0 auto; width:100%; clear:both; overflow:hidden; background: #eee; border-top:1px solid #ddd; font-size:.8em;}
#footerarea {width:960px; margin:0 auto;}
#footerarea span {margin:0; padding:20px 40px; font-size:1.1em; float:left;}
	
.hidden {display:none;}

sup, sub { vertical-align: 0;
           position: relative; }
sup { bottom: 1ex; }
sub { top: 0.8ex; }
