 Developer Back <ul>
<li> Use cases <ul>
<li> Advertise </li>
<li> Publish and curate </li>
<li> Analyze </li>
<li> Engage </li>
</ul>
</li>
<li> Products <ul>
<li> Products overview </li>
<li> Accounts and users </li>
<li> Tweets </li>
<li> Direct messages </li>
<li> Metrics </li>
<li> Ad campaigns </li>
<li> Publisher tools </li>
</ul>
</li>
<li> Docs <ul>
<li> Documentation </li>
<li> API reference index </li>
<li> Tutorials </li>
<li> Changelog </li>
<li> API status </li>
</ul>
</li>
<li> More <ul>
<li> Case studies </li>
<li> Enterprise data </li>
<li> Developer terms </li>
<li> Pricing </li>
<li> Billing details </li>
<li> Community </li>
<li> Forum </li>
<li> Blog </li>
<li> Stay informed </li>
</ul>
</li>
<li> Labs <ul>
<li> About </li>
<li> Docs </li>
<li> Feedback </li>
</ul>
</li>
</ul>
<ul>
<li> Apply </li>
</ul> Sign In <p>Developer terms</p> Display requirements: Replies Replies <p>
<br>Please follow the following guidelines for displaying replies.</p>
<p>For a default reply:</p>
<p>For a reply with social context:<br>
</p>
<p>For a Quote Tweet:<br>
</p> Developer policy and terms Follow @twitterdev Subscribe to developer news About <ul>
<li> Let’s go Twitter</li>
<li> Company</li>
<li> Values</li>
<li> Safety</li>
<li> Blog</li>
<li> Brand Resources</li>
<li> Careers</li>
<li> Investors</li>
</ul> Business <ul>
<li> About Twitter Ads</li>
<li> Targeting</li>
<li> Analytics</li>
<li> Ads support</li>
<li> Business blog</li>
<li> Advertise</li>
</ul> Developers <ul>
<li> Documentation</li>
<li> Forums</li>
<li> Communities</li>
<li> Developer blog</li>
</ul> Help Center <ul>
<li> Using Twitter</li>
<li> Managing your account</li>
<li> Safety and security</li>
<li> Rules and policies</li>
<li> Contact us</li>
</ul> Marketing <ul>
<li> Insights</li>
<li> Success Stories</li>
<li> Solutions</li>
<li> Collections</li>
<li> Marketing blog</li>
<li> Learn about Twitter video</li>
</ul>
<p>© 2019 Twitter, Inc.</p> Cookies Privacy Terms and Conditions <ul>
<li> Read Previous </li>
<li> Read Next </li>
</ul> 
